<h2><%= @result[:display_name] %></h2>

<% now = @weather.dig(:current) %>

<h3>Current Weather</h3>
<%= local_datetime(now[:dt], @weather[:timezone]).strftime("%A %l:%M %p") %> <em>(local time)</em><br />
<%= now.dig(:weather, 0, :description).humanize %>
<img src=<%= "#{extract_icon(now)}"  %> ></br />

<%= "Temperature: #{now[:temp].to_i} °F"  %><br />
<%= "Humidity: #{now[:humidity].to_i}%"  %><br />
<%= "Wind: #{now[:wind_speed].to_i} mph"  %><br />

<hr />

<h3>Forecast</h3>
<% day = @weather.dig(:daily, 0) %>

 <table>
  <tr>
    <% @weather[:daily].each do |day| %>
      <td>
        <%= render 'day', day: day %>
      <td />
    <% end %>
  <tr />
<table />


<hr />
<%= link_to 'Find weather for a new location.', weather_index_path %>

<br />

<% if @weather_cache_hit %>
  <em>Weather data pulled from cache for place id <%= @result[:place_id] %>.</em>
<% else %>
  <em>Weather data _not_ pulled from cache for place id <%= @result[:place_id] %>.</em>
<% end %>
