<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Include Bootstrap JavaScript (optional, for interactive components) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= yield %>
    <br />
    <a href="https://openweathermap.org/api/one-call-3#current" target="_blank" rel="noopener noreferrer">API Docs</a>
    <br />
    <a href="https://openweathermap.org/api/one-call-3#parameter" target="_blank" rel="noopener noreferrer">Response fields</a>
    

  </body>
</html>
